In [13]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data = pd.read_csv("./homeprices (1).csv")
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
data['bedrooms']= data['bedrooms'].fillna(np.floor(data['bedrooms'].mean()))

In [31]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [32]:
input_features = data.drop('price' , axis=1)

In [34]:
x = np.array(input_features)

In [35]:
y = np.array(data['price'])

In [39]:
def Normalize_Features(x) :
    std = np.std(x)
    mean = np.mean(x)
    return std , mean , (x - mean) / std

In [47]:
# Assuming 'x' is a list or an array of arrays/lists
stdarray = []
meanarray = []

for i in range(len(x)):
    std, mean, x[i] = Normalize_Features(x[i])
    stdarray.append(std)
    meanarray.append(mean)

# Convert lists back to numpy arrays if needed
stdarray = np.array(stdarray)
meanarray = np.array(meanarray)

In [49]:
def Hypothesis(theta_array , x) :
    hypo = theta_array[0]
    
    for i in range(1,len(theta_array)) :
        hypo += theta_array[i] * x[i]
        
    return hypo

In [50]:
def Cost_Function(theta_array , x , y) :
    cost =  0
    
    for i in range(len(x)) :
        cost += (Hypothesis(theta_array , x[i]) - y[i]) ** 2  
        
    return cost  / (2 * len(x))

In [ ]:
def Gradiant_Descent(theta_array , x , y , alpha) :
    summation = np.zeros(len(x))
    New_Theta = np.zeros(len(x))
    
    for i in range(len(x)) :
        summation[i] += (Hypothesis(theta_array ,x[i]) - y[i])